extends layout

block content
    h2 this is title
    div(class="row")
        - const header = ['SerialNumber', 'PatientName', 'PatientEmail', 'DoctorEmail', 'DeviceName'];
        each item in header
            div(class="col-5")= item
    div(class="row")
        div(class="col-5") #{ data.SerialNumber }
        div(class="col-5") #{ data.PatientName }
        div(class="col-5") #{ data.PatientEmail }
        div(class="col-5") #{ data.DoctorEmail }
        div(class="col-5") #{ data.DeviceName }
    div(class="row content")
        div(class="col-5") #{ data.UpdateData[0].UpdateTime }
        div(class="col-5") ConfigData
        div(class="col-5") PresetData
        div(class="col-5") UsageData
        a(href="../data/detail/#{data._id}", class="col-5") Detail
