extends layout

block content
    h2 #{ data.UserInfo.DeviceName } Device - #{ data.SerialNumber } (Usage Data)
    div(class="row half bold")
        div(class="col-2 usage") Usage
        div(class="col-2 ans") Answer
    div(class="row content bold")
        - const UsageHeader = ['Date', 'Time', 'Preset#', 'Min. of Use'];
        each item in UsageHeader
            div(class="col-4")= item
    each val, i in data.UpdateData[index].UsageData
        div(class="row")
            - if (data.UpdateData[index].UsageData[i].Type === 'U')
                div(class="col-4 usage") #{ data.UpdateData[index].UsageData[i].DateOfTreatment }
                div(class="col-4 usage") #{ data.UpdateData[index].UsageData[i].TimeOfTreatment }
                div(class="col-4 usage") #{ data.UpdateData[index].UsageData[i].PresetNumber }
                div(class="col-4 usage") #{ data.UpdateData[index].UsageData[i].MinOfUse }
                a(href="../detail/more/#{ index }/#{ i }", class="more usage") &gt;&gt;
            - if (data.UpdateData[index].UsageData[i].Type === 'A')
                div(class="col-4 ans") #{ data.UpdateData[index].UsageData[i].DateOfTreatment }
                div(class="col-4 ans") #{ data.UpdateData[index].UsageData[i].TimeOfTreatment }
                div(class="col-10 ans") #{ data.UpdateData[index].UsageData[i].PainBefore }
                div(class="col-10 ans") #{ data.UpdateData[index].UsageData[i].PainAfter }
                div(class="col-10 ans") #{ data.UpdateData[index].UsageData[i].DecrMeds }
                div(class="col-10 ans") #{ data.UpdateData[index].UsageData[i].HelpWork }
                div(class="col-10 ans") #{ data.UpdateData[index].UsageData[i].HelpHome }
                a(href="../detail/more/#{ index }/#{ i }", class="more ans") &gt;&gt;

